<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title><%= title %></title>

    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="./build/css/vendors.css">
    <link rel="stylesheet" href="./build/css/cortana.css">

    <!-- Base CSS -->
    <link rel="stylesheet" href="./build/css/antistatique.css">
</head>

  <body class="cortana-body">

    <div class="sb-slidebar sb-left cortana-sidenav sb-style-push">

      <% catWrappers = Array.new %>
      <% @categories.each do |cat| %>
        <% catWrapperName = cat[0].split('_').first %>
        <% if not catWrappers.include?(catWrapperName) %>
          <% catWrappers.push(catWrapperName) %>
        <% end %>
      <% end %>

      <nav class="cortana-nav">
        <ul>
          <% if file_name.include?('index.html') %>
            <li><a class="active" href="index.html">Home</a></li>
          <% else %>
            <li><a href="index.html">Home</a></li>
          <% end %>
        </ul>
        <% catWrappers.each do |wrapper| %>
          <h3><%= wrapper %></h3>
          <% @categories.each do |cat| %>
            <% if cat[0].include?(wrapper) %>
              <% catName = cat[0].split('_').last %>
              <% if catName == title.split('_').last %>
                <li><a class="active" href="<%= cat[1] %>"><%= catName %></a></li>
              <% else %>
                <li><a href="<%= cat[1] %>"><%= catName %></a></li>
              <% end %>
            <% end %>
          <% end %>
          </ul>
        <% end %>
      </nav>
    </div>

    <header class="cortana-header sb-slide">
      <% if title.split('_').last %>
        <h1><%= title.split('_').last %></h1>
      <% elsif file_name.include?('index.html') %>
        <h1>Styleguide home</h1>
      <% end %>
      <div id="open-left" class="cortana-menu-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </header>

    <div id="sb-site">

      <div class="cortana-container">

        <nav id="cortana-inside-nav" class="cortana-inside-nav">
          <ul>
            <% @blocks.each do |block| %> 
              <li><a href="#<%= block[:name] %>"><%= block[:title] %></a></li>
            <% end %>
          </ul>
        </nav>

        <div class="cortana-content-wrapper">


