.cortana-body, #sb-site {
  background: $softBlue !important;
}

.cortana-header {
  background: $night !important;
  padding: 15px 0 !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 999 !important;
  h1 {
    color: $white !important;
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: $mainFont !important;
    font-weight: normal !important;
    font-size: 30px !important;
    font-style: normal !important;
    @media only screen and (max-width: 767px) {
      font-size: 20px !important;
    }
  }
}

.cortana-container {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 90px;
  border: 1px solid $softBlue;
  @media only screen and (max-width: 900px) {
    padding: 0 10px 50px 10px;
  }
}

.cortana-content-wrapper {
  padding: 15px 0;
  padding-bottom: 40px;
  background: $white;
  border-radius: 4px;
  margin-top: 100px;
  @media only screen and (max-width: 1280px) {
    margin-top: 20px;
  }
}


.exampleOutput {
  padding: 50px 30px;
  border: 1px solid $softBlue;
  position: relative;
  &:after {
    content: 'Example';
    position: absolute;
    top: 0;
    left: 0;
    color: $asbestos;
    border-right: 1px solid $softBlue;
    border-bottom: 1px solid $softBlue;
    border-bottom-right-radius: 4px;
    padding: 5px 8px;
    display: inline-block;
    font-family: $mainFont;
  }
}