.cortana-body, #sb-site {
  background: $softBlue;
}

.cortana-header {
  background: $night;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  min-height: 40px;
  h1 {
    color: $white;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    font-weight: normal;
  }
}

.cortana-container {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 90px;
  padding: 15px 0;
  padding-bottom: 40px;
  background: $white;
  border-radius: 4px;
  margin-top: 100px;
}

.exampleOutput {
  padding: 50px 30px;
  border: 1px solid $softBlue;
  position: relative;
  &:after {
    content: 'Example';
    position: absolute;
    top: 0;
    left: 0;
    color: $asbestos;
    border-right: 1px solid $softBlue;
    border-bottom: 1px solid $softBlue;
    border-bottom-right-radius: 4px;
    padding: 5px 8px;
    display: inline-block;
    font-family: $mainFont;
  }
}