.cortana-menu-btn {
  width: 28px;
  height: 28px;
  margin: 0;
  position: absolute;
  left: 25px;
  top: 20px;
  &:hover {
    cursor: pointer;
    span {background: $white;}
  }
  span {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 1px;
    margin: 5px 0;
    background: $clouds;
  }
}

.cortana-sidenav {
  background: $white;
}

.cortana-nav {
  padding: 10px 0;
  margin: 0;
  ul {
    padding: 0;
    margin: 0;
  }
  li {list-style-type: none;}
  li a {
    display: block;
    width: 90%;
    padding: 3px 5%;
    text-decoration: none;
    font-family: $mainFont;
    color: $alizarin;
    &:hover, &.active {
      background: $alizarin;
      color: $white;
    }
  }
  h3 {
    padding: 0 5%;
    margin: 20px 0 10px 0;
    padding-top: 20px;
    font-family: $mainFont;
    border-top: 1px solid $silver !important;
    font-size: 16px;
    font-weight: normal;
    &:first-child {border: none;}
  }
}

.cortana-inside-nav {
  margin-left: -190px;
  width: 170px;
  float: left;
  margin-top: 100px;
  &.cortana-stick-bottom {
    position: fixed !important;
    top: 0px !important;
    bottom: auto !important;
  }
  a {
    color: $mine;
    display: block;
    width: 100%;
    padding: 5px 0;
    &:hover, &.active {color: $alizarin;}
  }
  ul {
    position: relative;
    top: -100px;
    margin-top: 100px;
  }
  @media only screen and (max-width: 1280px) {
    float: none;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 0 30px;
    li {
      display: inline-block;
      width: 45%;
    }
    ul {
      position: static;
    }
  }
}







