.twitter-typeahead {
  position: absolute !important;
  right: 25px !important;
  top: 18px !important;
  width: 200px;
  display: block !important;
  input {
    width: 100% !important;
    height: 30px !important;
    box-sizing: border-box !important;
    border-radius: 3px !important;
    border: 1px solid $white !important;
    box-shadow: none !important;
    padding: 5px 10px !important;
  }
}

/* custom styles for the typeahead */

.cortana-header .tt-dropdown-menu {
  width: 200px !important;
  margin-top: 12px !important;
  padding: 8px 0 !important;
  background-color: $white !important;
  border: none !important;
  border-radius: 3px !important;
  box-shadow: 0 5px 10px rgba(0,0,0,.2) !important;
}

.cortana-header .tt-suggestion {
  padding: 8px 15px !important;
  font-family: $mainFont !important;
  border-top: 1px solid $silver !important;
  &:first-child {border: none !important;}
}

.cortana-header .tt-suggestion a {
  text-decoration: none !important;
  color: $mine !important;
}

.cortana-search-title {
  font-weight: bold !important;
  font-size: 14px !important;
  margin: 0 !important;
  margin-bottom: 5px !important;
}

.cortana-search-path {
  font-weight: normal !important;
  font-size: 12px !important;
  margin: 0 !important;
}

.cortana-header .tt-suggestion.tt-is-under-cursor {
  a {color: $white !important;}
  background-color: $alizarin !important;
}